# Premier league Analysis
## Imports

In [255]:
import pandas as pd

## Data Sourcing

In [256]:
premier_league_data = pd.read_csv("premier_league_data.csv")

## Data Cleaning

In [265]:
premier_league_data.head()

,season,match_week,home_team,away_team,score,home_score,away_score,winner
0,2012,1,Arsenal,Sunderland,0 - 0,0,0,Draw
1,2012,1,Fulham,Norwich City,5 - 0,5,0,Fulham
2,2012,1,Queens Park Rangers,Swansea City,0 - 5,0,5,Swansea City
3,2012,1,Reading,Stoke City,1 - 1,1,1,Draw
4,2012,1,West Bromwich Albion,Liverpool,3 - 0,3,0,West Bromwich Albion

### Remove Unnamed Column

In [258]:
premier_league_data = premier_league_data.drop(columns=["Unnamed: 0"])

### Add home_score Column

In [259]:
premier_league_data["home_score"] = premier_league_data["score"].apply(lambda x: x.split(" - ")[0])

### Add away_score Column

In [260]:
premier_league_data["away_score"] = premier_league_data["score"].apply(lambda x: x.split(" - ")[1])

### Alter home_score and away_score Type

In [261]:
premier_league_data["home_score"] = premier_league_data["home_score"].astype("int")

In [262]:
premier_league_data["away_score"] = premier_league_data["away_score"].astype("int")

### Add winner Column

In [263]:
def find_winner(x) -> str:
    """Returns the winning team based on score."""
    if x["home_score"] > x["away_score"]:
        return x["home_team"]
    if x["home_score"] < x["away_score"]:
        return x["away_team"]
    return "Draw"

In [264]:
premier_league_data["winner"] = premier_league_data.apply(find_winner, axis=1)